<span class="h1">Holt rules</span> <br />

1. I will respect other members' characters in my stories and art<br />
2. I'm allowed at most 5 elves with the status "alive". *See exceptions.<br />
3.<br />
4.<br />


<%= link_to "I accept", new_user_path %>


